@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <style>

        body {
            background-image: url("../../movie_background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            color: whitesmoke;
        }

        p {
            position: fixed;
            bottom: 0;
            margin-left: -30px;
            text-align: center;
        }

        h1 {
            color: whitesmoke;
            margin-top: 7px;
            margin-bottom: 17px;
            margin-left: -30px;
        }

        hr {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <h1>Welcome to PMF Movie Store!</h1>
    <h1>Hope you'll find what you're looking for!</h1>
</body>

</html>